*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FF6900;
    padding: 1.5rem 0;
}
div.row{
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: space-around;
}

article.product{
    background-color: #ededed;
    width: calc(100% / 3);
    position: relative;
}
article.product img{
    width: 100%;
}
article.product span.sale{
    font-size: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 2.5rem;
    background-color: #FF0000;
}
article.product span.sostenibilità{
    font-size: 150%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 2.5rem;
    background-color: #008000;
}
article.product span.hearts{
    font-size: 300%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    background-color: white;
}
ul,li{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .25rem;
    color: white;
}