*{
    margin: 0;
    padding: 0;
    border-bottom: 0;
}

header{
    background-color: #FF6900;
    padding: 1.5rem 0;
}

section.navigation{
    
}

ul,li{
    display: flex;
    justify-content: flex-start;
    padding: .25rem;
    color: white;
}