*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FF6900;
    padding: 1.5rem 0;
}
div.row{
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: space-around;
}
div.

ul,li{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .25rem;
    color: white;
}